@import '../components/stylesheets/colors.scss';

.time-periods {
  height: auto;
  width: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 32px;

  .header {
    text-transform: capitalize;
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: bold;
  }

  .time-period {
    border: 1px solid $yellow;
    color: $tomato;
    background: $licorice;
    border-radius: 4px;
    padding: 4px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: relative;
    height: 40px;
    width: 30%;

    div {
      .name {
        text-transform: capitalize;
        font-size: 24px;

        .emoji {
          font-size: 18px;
          margin-right: 4px;
        }
      }

      .tooltip {
        position: relative;
        left: 108px;
        bottom: 25px;
      }
    }
  }
}
